.introContainer {
    height: 100vh;
    background-color: var(--color-secondary);
}

.introTitle {
    display: flex;
    position: relative;
    justify-content: center;
    top: 50%;
    color: white;
}

.introTitle {
    font-size: 4rem;
}

.introTitleHello {

}

.introTitleMyName {
    white-space: nowrap;
    overflow-x: hidden;
    width: 1px;
    /*transition: width 1s;*/
    animation:myNameAnimate 1s ease-out 1s forwards;
}
/*.introTitleMyName:hover {*/
/*    width: 350px;*/
/*}*/

@keyframes myNameAnimate {
    from {width: 0}
    to {width: 340px}
}
