.toolEntityListContainer {
    font-size: 1rem;
}

.toolEntityContainer {
    display: inline-block;
    background-color: darkgrey;
    border-radius: 4px;
    width: 100px;
    height: 130px;
    margin: 5px;
}

.toolIconContainer {
    display: flex;
    /*font-size: xxx-large;*/
    background-color: lightgray;
    justify-content: center;
}

.toolLabelContainer {
    text-align: center;
}

.toolLabelContainer .icon {
}

.progressBarContainer {
    width: 12rem;
    align-items: center;
    margin: 1rem 5px;
}

.progressBarLabel {
    margin: 5px auto auto 10px;
}